@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.body {
  font-family: "Poppins", sans-serif;
  background: black;
  color: #b0b0b0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.time-boxes input::-webkit-outer-spin-button,
.time-boxes input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-boxes input {
  appearance: textfield;
}

.countdown-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #b0b0b0;
  display: flex;
  padding-bottom: 50px;
  font-size: x-large;
}

.time-boxes {
  display: flex;
  flex-direction: row;
  gap: 5px;
  user-select: none;
}

.time-boxes input {
  display: flex;
  justify-content: center;
  height: 150px;
  width: 150px;
  background: #181818;
  border: solid 2px #242424;
  color: #b0b0b0;
  outline: none;
  box-shadow: inset 6px 6px 12px #101010, inset -6px -6px 12px #222222;
  font-size: 100px;
  text-align: center;
  line-height: 150px;
}

.time-boxes input:hover {
  box-shadow: inset 8px 8px 15px #0d0d0d, inset -8px -8px 15px #292929;
}

.time-boxes span {
  display: block;
  margin-top: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  text-transform: uppercase;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 25px;
  padding-top: 50px;
}

.buttons button {
  background: #181818;
  border: solid 2px #242424;
  color: #b0b0b0;
  width: 80px;
  height: 40px;
  font-weight: bold;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
}

.buttons button:hover {
  background: #242424;
  color: #ffffff;
  border-color: #2e2e2e;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}
